<span onclick="openNav()">&#9776;</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="clientes">Clientes</a>
  <a href="categorias">Categorias</a>
  <a href="juegos">Juegos</a>
  <a href="partidas-admin">Partidas</a>
  <a href="logout">Cerrar Sesión</a>
</div>
<link rel="stylesheet" href="../estilo/func.css" />
<script src="../funciones/func.js"></script>