<form id="contact" action="registro3" method="post">
    <h3>Registro</h3>
    <h4>Paso 2:</h4>
    <fieldset>
      <input
        id="form-dni"
        name="dni"
        placeholder="DNI"
        type="text"
        tabindex="1"
        required
        autofocus
      />
    </fieldset>
    <!-- <fieldset>
      <p>
        Subir archivo:
        <input type="file" name="archivosubido" />
      </p>
    </fieldset> -->
  
    <fieldset>
      <button type="button" name="submit" id="contact-submit" data-submit="...Sending">
        <a href="registro">Regresar</a>
      </button>
    </fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="contact-submit"
        data-submit="...Sending"
      >
        <a>Siguiente</a>
      </button>
    </fieldset>
  </form>
  