<form id="contact" action="registrar" method="post">
    <h3>Registro</h3>
    <h4>Paso 5:</h4>
    <fieldset>
      <label
        style="display: flex; gap: 0.8em; font-weight: bold; align-items: center"
      >
        <input
          id="form-PEP"
          name="PEP"
          type="checkbox"
          tabindex="1"
          autofocus
        />
        <p>PEP</p>
      </label>
    </fieldset>
  
    <fieldset>
      <button
        type="button"
        name="submit"
        id="contact-submit"
        data-submit="...Sending"
      >
        <a href="registro4">Regresar</a>
      </button>
    </fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="contact-submit"
        data-submit="...Sending"
      >
        <a href="">Finalizar</a>
      </button>
    </fieldset>
  </form>
  