<div class="container">
  <div class="slider">
    <i class="fa fa-chevron-right fa-2x next-slide" id="next-slide"></i>	
    <i class="fa fa-chevron-left fa-2x prev-slide" id="prev-slide"></i>
    
    <div class="slider-screen" id="slider-screen">
      <div class="slider-img active" id="slider-img" data-img="1">
        <img src="../imagenes/imagen1.png" alt="01" />			
      </div>
      <div class="slider-img" id="slider-img" data-img="2">
        <img src="../imagenes/imagen2.jpg" alt="02" />			
      </div>
      <div class="slider-img" id="slider-img" data-img="3">
        <img src="../imagenes/imagen3.jpg" alt="03" />			
      </div>
    </div>
    <ul class="bullets">
        <li class="active" data-bull="1"></li>
        <li data-bull="2"></li>
        <li data-bull="3"></li>
      </ul>
  </div>
</div>



