<body>
  <section id="title">
    <div class="contnos">
      <h1>Nosotros</h1>
    </div>
  </section>
  <section id="team">
    <div class="container">
      <div class="conteam">
        <div class="cubo">
          <img src="../imagenes/bernal.jpg" />
          <h2>Sebastian J. Bernal Gamarra</h2>
        </div>
        <div class="cubo">
          <img src="../imagenes/luque.jpg" />
          <h2>Diego A. Luque Curilla</h2>
        </div>
        <div class="cubo">
          <img src="../imagenes/quispe.jpg" />
          <h2>Mario D. Quispe Ancasi</h2>
        </div>
      </div>
      <div class="conteam">
        <div class="cubo">
          <img src="../imagenes/rojas.jpg" />
          <h2>Robert J. Rojas Valladares</h2>
        </div>
        <div class="cubo">
          <img src="../imagenes/silva.jpg" />
          <h2>Arnold Silva Cabello</h2>
          <p>Mas ojeras que ojos</p>
        </div>
        <div class="cubo">
          <img src="../imagenes/TINEO.jpg" />
          <h2>Nicole A. Tineo Espinoza</h2>
        </div>
      </div>
    </div>
  </section>
</body>
