<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilo/func.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %> <%- body %>
    <div class="hi">
      <h1>Hola, <%= user.nombre %></h1>
    </div>
  </body>
  <script src="../funciones/func.js"></script>
</html>
