<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../estilo/estilo-reglas.css" />
    <link rel="stylesheet" href="../estilo/estiloTC.css">
    <link rel="stylesheet" href="../estilo/equipo.css">
  </head>
  <body>
    <%- include('../partials/header.ejs') %> <%- body %> <%-
    include('../partials/footer.ejs') %>
  </body>
</html>
