<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../estilo/estilo-registro.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="cuenta">
      <div class="forma-triangulo"></div>
      <h2 class="cuenta-header">Ingresar cuenta</h2>
      <%- body %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
